<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Human Detector</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">DosLab Human Detector</h1>
        <div class="text-center">
            <img src="{{ url_for('capture_stream') }}" id="video-stream" class="img-fluid" alt="Video Stream">
            <img id="last-frame" class="img-fluid" alt="Last Frame" style="display: none;">
        </div>
        <div class="text-center mt-3">
            <button id="start-button" class="btn btn-success" onclick="startStream()" disabled>Запустить поток</button>
            <button id="stop-button" class="btn btn-danger" onclick="stopStream()">Остановить поток</button>
        </div>
    </div>

    <script>
        let streamActive = true;

        function startStream() {
            if (!streamActive) {
                fetch('/start_stream').then(response => {
                    if (response.ok) {
                        streamActive = true;
                        document.getElementById("start-button").disabled = true;
                        document.getElementById("stop-button").disabled = false;
                        document.getElementById("video-stream").style.display = "block"; // Показать поток
                        document.getElementById("last-frame").style.display = "none"; // Скрыть последний кадр
                        document.getElementById("video-stream").src = "{{ url_for('capture_stream') }}";
                    }
                });
            }
        }

        function stopStream() {
            if (streamActive) {
                fetch('/stop_stream').then(response => {
                    if (response.ok) {
                        streamActive = false;
                        document.getElementById("start-button").disabled = false;
                        document.getElementById("stop-button").disabled = true;
                        document.getElementById("video-stream").style.display = "none"; // Скрыть поток
                        displayLastFrame(); // Отобразить последний кадр
                    }
                });
            }
        }

        function displayLastFrame() {
            fetch('/last_frame').then(response => {
                if (response.ok) {
                    return response.blob();
                }
            }).then(blob => {
                const url = URL.createObjectURL(blob);
                const lastFrameImg = document.getElementById("last-frame");
                lastFrameImg.src = url;
                lastFrameImg.style.display = "block"; // Показать последний кадр
            });
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>